GH_CLIENT_ID = 
GH_CLIENT_SECRET = 

PORT = 5000
IP = 0.0.0.0

DB_HOST = 
DB_PORT = 
DB_USER = 
DB_PASS = 
DB_NAME = 

BUILD_COMMAND = 
BUILD_DIRECTORY = 

JWT_SECRET = 

// must be 16, 24 or 32 bytes long and same as the one used in build server
ENV_SECRET = 

MQ_HOST = 
MQ_PORT = 
MQ_USER = 
MQ_PASS = 

MIO_HOST = 
MIO_ACCESS_ID = 
MIO_SECRET = 
MIO_SSL = 
MIO_BUCKET = 